body {
    overflow: hidden;
    font-family: arial,sans-serif;
    font-weight: 300;
    color: #333333;
}

a:hover{
    text-decoration: none;
}

.bg-primary {
    background-color: #333333 !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-mix {
    background: linear-gradient(180deg, #ffffff 50%, #E8ECF1 0)
}

.bg-grey {
    background-color: #E8ECF1 !important;
}

.btn {
    border: 0;
}

.btn-primary {
    background-color: #333333;   
}

.btn-primary:hover {
    background-color: #555555;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#siderbar-container .menu {
    width: 18rem;
}

.btn-search {
    right: 5px;
}

.avatar {
    max-width: 35px;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.stat {
    border-right: 1px solid #efefef;
}

